service: kraft-envios-api

provider:
  name: aws
  runtime: nodejs22.x
  stage: production
  region: us-east-1
  logRetentionInDays: 1
  timeout: 15
  stackName: kraft-envios-api
  apiName: kraft-envios-api

functions:
  api:
    handler: dist/lambda.handler
    events:
      - http:
          method: ANY
          path: /
      - http:
          method: ANY
          path: '{proxy+}'

plugins:
  - serverless-jetpack
  - serverless-offline