name: Run unit tests

on:
  workflow_call:
  pull_request:
    types: [opened, synchronize]

jobs:
  avoid_redundancy:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Redundant Builds
        uses: styfle/cancel-workflow-action@0.9.1

  run_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Create .env file
        run: |
          echo "REACT_APP_LOCAL_STORAGE=BUDGET_MASTER" > .env

      - name: Run unit tests
        run: bun test
